:root {
    --light-0: #f8f9fa;
    --light-1: #c72c2c;
    --light-2: #d38833;
    --light-3: #b87d7d;
    --dark-0: #35383b;
    --dark-1: #f8f9fa;
    --dark-3: #838485;
}

/*body*/
body {
    background: var(--light-0);
    display: grid;
    height: 100vh;
    margin: 0;
    place-items: center;
    transition: background 0.3s ease;
}

body.dark {
    background: var(--dark-0);
    color: var(--light-0);
}

#mainDiv {
    width: 85%;
}

/*Nav*/
.nav {
    width: 85%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    background-color: var(--light-0);
    border-bottom: solid 1px #bbbbbb;
}

body.dark .nav {
    background-color: var(--dark-0);
}

.nav-option {
    width: 70%;
    display: flex;
    justify-content: center;
}

.nav-option>a {
    text-decoration: none;
    color: var(--dark-0);
}

body.dark .nav-option>a {
    color: var(--dark-1);
}

.portfolio {
    margin-top: -20px;
}

.portfolio>h1>span:nth-child(2) {
    font-size: 20px;
    color: var(--light-2);
}

.items {
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}

.items:hover {
    border-bottom: solid 2px var(--light-3);
}

body.dark .items:hover {
    border-bottom: solid 2px var(--dark-3);
}

.items-active {
    border-bottom: solid 2px var(--light-1);
}

body.dark .items-active {
    border-bottom: solid 2px var(--dark-1);
}

/*Togle buttons*/
.toggle {
    margin-top: 9px;
    margin-left: 50px;
}

.toggle>input {
    position: absolute;
}

.toggle>label {
    background: var(--dark-0);
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;
    height: 20px;
    position: relative;
    width: 48px;
}

.toggle label .sun-moon {
    background: var(--light-0);
    border-radius: 50%;
    height: 20px;
    margin: 0 4px 0 4px;
    transition: transform 0.3s ease;
    width: 20px;
}

#toggle-button:checked+label {
    background: var(--light-0);
}

#toggle-button:checked+label .sun-moon {
    background: var(--dark-0);
    transform: translateX(20px);
}

/*Container*/
.container {
    width: 100%;
    margin: 0px auto 0px auto;
}

/*Description*/
.description,
.about,
.technology,
.proyects,
.contact-me {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    flex-wrap: wrap;
    align-content: space-around;
    border-bottom: solid 1px #a1a1a1;
}

.description-user>h1 {
    margin: 0;
    padding: 0;
}

.description-user>a>img {
    width: 30px;
    margin: 10px;
}

.curriculum {
    margin-top: 30px;
}

.curriculum>button {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--light-2);
    cursor: pointer;
}

.description-user>a>img:hover,
.container-curriculum>button:hover {
    opacity: 0.5;
}

.description-img>img {
    width: 250px;
    border-radius: 50%;
}

/*About*/

/*technology*/
.technology>div {
    width: 100%;
}

.technology-img {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.technology-img>img{
    width: 150px;
    max-height: 110px;
}